*{ 
    margin: 0;
    font-family: verdana;
}

#container{
    width: 100%;
    height: 100vh;
}

.mala > .duza{
    font-size: 3vw;
    font-weight: 700;
}

.mala{
    font-size:  1.5vw;
    font-weight: 700;
}
#zdjecie1{
    width: 100%;
    height: 100vh;
    background-image: url(../obrazy/man-1.jpg);
}

#zdjecie2{
    width: 100%;
    height: 100vh;
   background-image: url(../obrazy/man-2.jpg);
}
